/* TOPBAR */

.topbar {
  font-size: 14px;
  line-height: 1.5;
  color: #FFF;  
  max-width: 1140px;
}

.topbar_content {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1.25rem 0;
}

.topbar_content h3 {
  margin-left: 12px;
}

/* Search */

.search {
  padding: 1.25rem 0!important;
}

/* card */

.profile-card {
  display: flex;
  padding: 1.25rem 0;
}

.profile-card img {
  max-width: 120px;
  max-height: 120px;
}

.profile-info {
  padding-left: 20px;
  color: #FFF;
}

.profile-info h1 {
  min-height: 32px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 400;
}

.profile-info svg {
  margin-right: 5px;
}

.profile-info-repo .list-group-item {
  background: none;
  border: none;
  color: #FFF;
}

.profile-info-repo .list-group-item svg {
  margin-right: 5px;
}

.profile-info-repo span {
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
      padding-right: 6px;
      padding-left: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #24292e;
  text-align: center;
  background-color: #f3f4f6;
  border: 1px solid transparent;
  border-radius: 2em
}

/* repo */

.card {
  background: none!important;
  color: #FFF;
  border: none!important;
  border-top: 1px solid!important;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1!important;
}